.navBar {
  display: flex;
  /* flex: end; */
  align-items: center;
  justify-content: end;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
}

.nav ul {
  background-color: white !important;
  width: 0;
  gap: 20px;
}
.items {
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
}
